<body id="im0l" class="conatiner">
    <div id="it1d" class="gjs-row Navbar-section">
      <div id="i6ny" class="gjs-cell navbar">
        <div id="iw0j" class="gjs-row">
          <div id="imxp" class="gjs-cell">
            <img id="ilol" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="logo"/>
          </div>
          <div id="iqzk" class="gjs-cell">
            <div id="ite3h" class="gjs-row">
              <div id="iivjc" class="gjs-cell">
                <div id="is2kz" class="Navbar-items">
                  <span id="i8phf">Insert </span>
                </div>
              </div>
              <div id="i09ax" class="gjs-cell">
                <div id="iif5t" class="Navbar-items">..Insert 
                </div>
              </div>
              <div id="iajns" class="gjs-cell">
                <div id="i6hlf" class="Navbar-items">Insert 
                </div>
              </div>
            </div>
          </div>
          <div id="igoj" class="gjs-cell">
            <div id="ikr3v">search...
              <a href="" id="ip7r5"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="iyiwb" class="gjs-row second-section">
      <div id="i220f" class="gjs-cell listing-product">
        <div id="ikjmi" class="gjs-row images">
          <div id="ia42v" class="gjs-cell">
            <img id="ilm0r" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="product-1-image"/>
          </div>
          <div id="itb3h" class="gjs-cell">
            <img id="iz40i" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="product-2-image"/>
          </div>
          <div id="ic7zc" class="gjs-cell">
            <img id="iu2vf" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="image-3"/>
          </div>
        </div>
        <div id="is43u" class="gjs-row image-text">
          <div id="ihpag" class="gjs-cell text-1">
            <div id="iv8m8" class="product-text">Insert your text here
            </div>
          </div>
          <div id="ia5mj" class="gjs-cell">
            <div id="i6t6g" class="product-text">Insert your text here
            </div>
          </div>
          <div id="i1uec" class="gjs-cell">
            <div id="ihuf9" class="product-text">Insert your text here
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="is9xk" class="gjs-row">
      <div id="icu2z" class="gjs-cell">
        <img id="ihlma" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" class="banner-image"/>
      </div>
    </div>
    <div id="itpuk" class="gjs-row">
      <div id="ix6mr" class="gjs-cell">
        <blockquote class="quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit
        </blockquote>
      </div>
      <div id="i6v91" class="gjs-cell">
        <blockquote class="quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit
        </blockquote>
      </div>
      <div id="imwy8" class="gjs-cell">
        <blockquote class="quote">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit
        </blockquote>
      </div>
    </div>
  </body>

  